# Use libpq environment variables to configure database access.
# See https://www.postgresql.org/docs/18/libpq-envars.html.
PGDATABASE=benchbonanza

# Make sure the first path component is for the `bin` directory of the Python virtual environment.
PATH=/usr/local/benchbonanza/.venv/bin:/usr/bin

# This is where the configuration (experiment definitions, watched repo definitions etc) is stored.
# Any git URL will do (eg https://, git://, git+ssh://, file://, ...)
# Using authenticated access may involve some work but could be as simple as setting some environment
# variables (eg GIT_SSH_COMMAND).
CONFIGREPO_GIT_URL=file:///path/to/some/repo

BB_GIT_REPO_PREFIXES_ALLOWED=https://github.com/ https://codeberg.org/

BB_VERBOSITY=1
